<div>
  <h3>Orders</h3>
  <table class = 'table'>
    <tr>
      <td><b>Order's by</b></td>
      <td><b>Order Status</b></td>
      <td><b>Order Created On</b></td>
      <td><b>Actions</b></td>
      <td class='shift_right'><b>Order details</b></td>
    </tr>
    <% @orders.each do |order| %>
    <tr class = '<%= order.state %>'>
      <td><%= order.user.username %></td>
      <td><%= order.state %></td>
      <td><%= order.created_at %></td>
      <td>
        <%= link_to "Dispatch", dispatch_order_admin_order_path(order), method: :post, :class => "btn btn-small" if order.state == 'booked' %>
        <%= link_to "Delivered", order_delivered_admin_order_path(order) , method: :post, :class => "btn btn-small" if order.state == 'dispatched' %>
      </td>
      <td class='shift_right'>
        <%= link_to "View order", admin_order_path(order), :class => "btn btn-small" %>
        <%= link_to "Transactions", order_transactions_path(:order => order), :class => "btn btn-small" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>