<div>
  <h3>Orders</h3>
  <table class = 'table'>
    <tr>
      <td><b>Order's by</b></td>
      <td><b>Order Status</b></td>
      <td><b>Order Created On</b></td>
      <td class='shift_right'><b>Actions</b></td>
    </tr>
    <% @orders.each do |order| %>
    <tr class = <%= order.state %>>
      <td><%= order.user.username %></td>
      <td><%= order.state %></td>
      <td><%= order.created_at %></td>
      <td class='shift_right'>
        <%= link_to "Details", admin_order_path(order), :class => "btn btn-small" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>