<div>
  <dl class  = "dl-horizontal" >      
    <dt>Orders For:</dt>
    <dd><%= @order.user.username %></dd>
  </dl>
  <table class='table'>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% @order.line_items.each do |line| %>
    <tr id="<%= line.id%>">
      <td><%= line.product.product %> :<%= line.product.brand.brand %> </td>
      <td><%= line.quantity %></td>
      <!-- <td><%= line.price %><button type="button" class="close remove_line_item" >×</button></td> -->
      <td><%= line.price %><span ><%= link_to '×', line_item_path(line),  method: :delete, data: { confirm: 'Are you sure?' } %></span></td>                
    </tr>
    <%end%>
    <tr>
      <td></td>
      <td><span class = 'pull-right'><b>Total Amount:</b></span></td>
      <td><b><%= @order.amount %></b></td>
    <tr>
  </table>          
  </div>