<div>
  <dl class  = "dl-horizontal" >      
    <dt>User Name:</dt>
    <dd><%= @user.username %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Wallet:</dt>
    <dd><%= @user.wallet %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt><%= link_to 'My Orders', orders_path %></dt>
  </dl>

  <dl class='dl-horizontal'>
    <dt></dt>
    <dd>
      <%= link_to 'edit', edit_user_path(@user), :class => "btn" %>
      <%= link_to 'back', :root, :class => "btn btn-inverse" %>
    </dd>
  </dl>
</div>