<div>
  <dl class  = "dl-horizontal" >      
    <dt>User Name:</dt>
    <dd><%= @user.username %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Wallet:</dt>
    <dd><%= @user.wallet %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt><%= link_to 'My Transactions', user_transactions_path(:user => @user) %></dt>
    <dt><%= link_to 'My Orders', orders_path %></dt>
  </dl>
  <dl class='dl-horizontal'>
    <dt></dt>
    <dd></dd>
  </dl>
  <%= link_to 'Home', :root, :class => "btn btn-warning" %>
  <%= link_to 'edit details', edit_user_path(@user), :class => "btn" %>
</div>