<div class='span3'>
  <div class= 'sidebar-nav'>
    <!-- adding tabbed navigation -->
    <div class = 'tabbale tabs-left'>
      <h3 >Categories</h3>
      <ul class = 'nav nav-tabs'>
        <% @categories.root.each do |cat| %>
          <li><%= cat.category %>
            <ul class = 'child_category'>
              <% unless cat.children.empty? %>
                <% cat.children.each do |child_cat| %>
                  <li><%= link_to child_cat.category, "##{child_cat.slug}", 'data-toggle' => 'tab' %></li> 
                <% end %>                
              <% end %>
              <li><%= link_to 'View all', "##{cat.slug}", 'data-toggle' => 'tab' %></li>
            </ul>
          </li>     
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class ='span7'>
  <!-- tabbed content for the navigation -->
  <div class="tab-content">
    <% @categories.each do |cat| %>
      <div class = 'tab-pane' id = "<%= cat.slug %>">  
        <h3><u><%=link_to cat.category, category_path(cat) %></u></h3>
            <% product = cat.products.take(3)  %>
              <% product.each do |pro|%>
                <div class = 'product_div'>
                <% img = pro.images.first ? pro.images.first.image.url(:small) : 'no_image-small.jpg'  %>  
                <%= link_to image_tag(img), product_path(pro) %><br/>
                <%  if pro.available < 1  %>
                  <b class = 'text-error'>OUT OF STOCK</b><br/>
                <% end %>
                <%= pro.brand.brand+' '+pro.product %><br/>
                Price: <%= pro.price %>
                </div>
              <% end %>
        <%= link_to 'View all', category_path(cat) %>
        <span class = 'muted'>(<%= cat.products.count %>)</span>
      </div>
    <% end %>
  </div>
  <div class = 'new_arrivals'>
    <h3><u>Freshly arrived:</u></h3>
    <% @product.each do |pro|%>
      <div class = 'product_div'>
        <% img = pro.images.first ? pro.images.first.image.url(:small) : 'no_image-small.jpg'  %>  
        <%= link_to image_tag(img), product_path(pro) %><br/>
        <%= pro.product %><br/>
        Best buy: <%= pro.price %>
      </div>
    <% end %>  
  </div>
</div>