<div class='span5'>
  <div class= 'sidebar-nav'>
    <!-- adding tabbed navigation -->
    <div class = 'tabbale tabs-left'>
      <h3 >Categories</h3>
      <ul class = 'nav nav-tabs'>
        <% @categories.root.each do |cat| %>
          <li><%= link_to cat.category, "##{cat.slug}", 'data-toggle' => 'tab' %>
            <ul class = 'child_category'>
              <% unless cat.children.empty? %>
                <% cat.children.each do |child_cat| %>
                  <li><%= link_to child_cat.category, "##{child_cat.slug}", 'data-toggle' => 'tab' %></li> 
                <% end %>                
              <% end %>
            </ul>
          </li>     
        <% end %>
      </ul>
    </div>
    <!-- tabbed content for the navigation -->
    <div class="tab-content">
      <% @categories.each do |cat| %>
        <div class = 'tab-pane' id = "<%= cat.slug %>">  
          <p>Available <%= cat.category %> brands:</p>
          <% cat.brands.each do |br| %>
            <li><%= link_to br.brand, category_brand_path(cat,br) %></li>
          <% end %>
          <%= link_to 'View all', show_all_category_brands_path(cat) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class ='span6'>
  <div class = 'new_arrivals'>
    <h5>Freshly arrived:</h5>
    <% 5.times do |iter|%>
      <div class = 'product_div'>
        <% img = @product[iter].images.first ? @product[iter].images.first.image.url(:small) : 'no-image.jpg'  %>  
        <%= link_to image_tag(img), product_path(@product[iter]) %><br/>
        <%= @product[iter].product %><br/>
        Best buy: <%= @product[iter].price %>
      </div>
    <% end %>  
  </div>
</div>