<div class='span3'>
  <div class='other_attractions'>
    <div class = 'category_header'>
      <h4>Other Products:</h4>
    </div>
    <% pro = Product.last  %>
    <div class = 'product_div'>
      <% img = pro.images.first ? pro.images.first.image.url(:small) : 'no_image-small.jpg'  %>  
      <%= link_to image_tag(img), product_path(pro) %><br/>
      <%= pro.product %><br/>
      <%  unless available?(pro) %>
        <b class = 'text-error'>OUT OF STOCK</b><br/>
      <% else %>
        Price: <%= pro.varients.first.price %>
      <% end %>
    </div>
  </div>
</div>
<div class ='span7'>
  <div class = 'new_arrivals'>
    <div class = 'category_header'>
      <h3>Freshly arrived:</h3>
    </div>
    <div class = 'category_products'>
      <% @product.each do |pro|%>
        <div class = 'product_div'>
          <% img = pro.images.first ? pro.images.first.image.url(:small) : 'no_image-small.jpg'  %>  
          <%= link_to image_tag(img), product_path(pro) %><br/>
          <%= pro.product %><br/>
          Price: <%= pro.varients.first.price %><br/>
          <%  unless available?(pro) %>
            <small class = 'text-error'>OUT OF STOCK</small>
          <% end %>
        </div>
      <% end %>  
    </div>
  </div>
</div>