<div>
  <% @order = @orders if @orders %>
  <% if @order %>
    <dl class  = "dl-horizontal" >      
      <dt>Ordered Products:</dt>
      <dd>
        <ul>    	          
          <li>
            <table class='table'>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price/Unit</th>
              </tr>
              <% @order.line_items.each do |line| %>
              <tr>
                <td>
                  <%= line.varient.product.product %>
                  <span class='muted'><%= 'Colour: '+ line.varient.colour.colour if line.varient.colour %> <%= 'Size: '+ line.varient.size.size if line.varient.size %></span>            
                </td> 
                <td id="<%= line.id %>">
                  <div><span><%= line.quantity %></span>&nbsp;&nbsp;&nbsp;
                    <%= link_to 'change', edit_line_item_path(line), :remote => true  %>
                  </div>
                </td>
                <td><%= line.price %>  <%= link_to '×', line_item_path(line),  method: :delete, data: { confirm: 'Are you sure?' } %></td>                
              </tr>
              <%end%>
              <% if @order.line_items.any?  %>
                <tr>
                  <td></td>
                  <td><span class = 'pull-right'><b>Shipping Charges:</b></span></td>
                  <td >30.0</td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td><span class = 'pull-right'><b>Total Amount:</b></span></td>
                <td><b><%= @order.amount %></b></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><%= link_to 'Next', confirm_order_path(@order), :class => 'btn btn-small btn-success' %></td>
              </tr>
            </table>          
          </li>
        </ul>
      </dd>
    </dl>
  <% end %>
</div>