<div class='table odd_color'>
  <% if @orders.any? %>
    <table class='table' >
      <tr>
        <td>Id</td>
        <td>Booked for</td>
        <td>Address</td>
        <td>Amount</td>
        <% if @orders.first.state == 'booked' %>
          <td>Cancel</td>
        <% end %>  
      </tr>
      <% @orders.each do |order|  %>
        <tr>
          <td><%= link_to order.id, order_path(order.id) %></td>
          <td><%= order.user.username %></td>
          <td>              
            <%= order.address.name %>, 
            <%= order.address.street_no %>,
            <%= order.address.area %>, 
            <%= order.address.city %>-<%= order.address.postal_code %>              
          </td>
          <td>
            <%= order.amount %>
          </td>
          <% if order.state == 'booked' %>
            <td><%= link_to 'cancel', cancelled_order_path(order), method: :post, :class => 'btn btn-danger btn-small' %></td>
          <% end %>
        </tr>  
      <% end %>  
    </table> 
  <% else %>
    <h4 class = 'text-error'> No orders in this category !  </h4>
  <% end %>
</div>          