<div>
  <ol>
  <% @orders.each do |order|  %>
    <li>
      <dl class  = "dl-horizontal" >      
        <dt>Booked Order For:</dt>
        <dd><%= order.user.username %></dd>
      </dl>
      <dl class  = "dl-horizontal" >      
        <dt>Booking Date:</dt>
        <dd><%= order.updated_at.to_date %></dd>
      </dl>
      <% if order.address %>
      <dl class  = "dl-horizontal" >      
        <dt>Address:</dt>
        <dd>
          <%= order.address.name %>, 
          <%= order.address.street_no %>,
          <%= order.address.area %>, 
          <%= order.address.city %>-<%= order.address.postal_code %>     
        </dd>
      </dl>
      <% end %>
      <table class='table'>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        <% order.line_items.each do |line| %>
        <tr id="<%= line.id%>">
          <td><%= line.product.product %> :<%= line.product.brand.brand %> </td>
          <td><%= line.quantity %></td>
          <td><%= line.price %></td>                
        </tr>
        <%end%>
        <tr>
          <td></td>
          <td><span class = 'pull-right'><b>Total Amount:</b></span></td>
          <td><b><%= order.amount %></b></td>
        <tr>
      </table>
      <hr><hr>
    </li>
  <% end %>
  </ol>          
  </div>