<div>
  <%= render 'order_navigation' %>
  <h3><u>Confirm Order</u></h3>
  <dl class  = "dl-horizontal" >      
    <dt>Order For:</dt>
    <dd><%= @order.user.username %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Ordered Products:</dt>
    <dd>
      <ul>                
        <li>
          <table class='table'>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price/Unit</th>
            </tr>
            <% @order.line_items.each do |line| %>
            <tr id="<%= line.id%>">
              <td><%= line.product.product %> :<%= line.product.brand.brand %> </td>
              <td><div><%= line.quantity %></div></td>
              <td><%= line.price %></td>                
            </tr>
            <%end%>
            <tr>
              <td></td>
              <td><span class = 'pull-right'><b>Shipping Charges:</b></span></td>
              <td>30.0</td>
            </tr>
            <tr>
              <td></td>
              <td><span class = 'pull-right'><b>Total Amount:</b></span></td>
              <td><b><%= @order.amount %></b></td>
            </tr>
          </table>          
        </li>
      </ul>
    </dd>
  </dl>

  <dl class  = "dl-horizontal" >      
    <dt>Address:</dt>
    <dd>
      <%= spinner_tag %>  
      <div class='order_address' id="<%= @order.id %>">
        <% @order.user.addresses.each do |address| %>
        <% selected = (address.id == @order.address_id) ? 'selected': ''  %>
        <div id="<%= address.id %>" class='<%= selected %>'>
          <%= link_to '×', address_path(address), method: :delete, data: { confirm: 'Delete Address ?' } ,:class => 'pull-right' %>
          <%= address.name %><br/>
          <%= address.street_no %><br/>
          <%= address.area %><br/>
          <%= address.city %><br/>
          <%= address.state %>-<%= address.postal_code %><br/>
          <%= address.country %>
        </div>
        <% end %>
      </div><br/>
    <div id='add_address'></div>
    <%= link_to 'add new address', new_address_path, :remote => true, :class => "btn btn-small btn-warning" %><br/><br/>
    <%= button_to 'Pay', pay_order_path(@order), :class => 'btn btn-small btn-success' %>
    </dd>
  </dl>  
</div>