<%= javascript_tag do %>
  bkLib.onDomLoaded(function() { nicEditors.DescriptionTextArea() });
<% end %>
<%= simple_form_for ([:admin,@product]), :html => { :multipart => true, :class => 'form-horizontal'} do |f| %>
  <%= f.input :product %>
  <%= f.input :description, :input_html => { :class => 'product_description' } %>
  <%= f.input :mrp %>
  <%= f.input :price %>
  <%= f.input :available %>
  <%= f.fields_for :images do |img|  %>
  	<% if img.object.new_record? %>
  	  <%= render 'image_form', :f => img %>
  	<% end %>
  <%end%>
  <div class='control-group'>
    <div class='controls'>
      <%= link_to_add_images 'Add More Images', f, :images %>
    </div>
  </div>
  <div class='control-group'>
    <div class='controls'>
      <% @product.images.each do |img| %>
        <% if img.persisted? %>
          <div class='product_image'  id="<%= img.id %>">
            <%= link_to (image_tag('delete.png')),admin_image_path(img), method: :delete, :data => { :confirm => 'Delete this image ?' }, :class=> 'pull-right'%>
            <%= image_tag(img.image.url(:thumb), :class => 'img-polaroid') %>
          </div>
        <% end %>
      <% end %> 
    </div>
  </div>
  <%= f.association :brand, :label_method => :brand, :as => :radio_buttons %>
  <div class = "root_category">
    <%= f.association :categories, :collection => Category.root(), :label_method => :category, :as => :check_boxes %>
  </div>
  <% Category.root.each do |root|  %>
    <% unless root.children.empty? %>  
      <div class = 'child_category' id = "<%= root.id %>">
        <%= f.association :categories, :label => "#{root.category}'s Sub-Category" , :collection => root.children, :label_method => :category, :as => :check_boxes %>
      </div>
    <% end %>
  <% end %>

  <%= render 'attributes' if params[:action] == 'edit' || params[:action] == 'update'  %>
  <%= f.submit :class => "btn btn-success"%>
  <%= link_to 'back', admin_products_path, :class => 'btn btn-inverse'  %>
<% end %> 

