<%= simple_form_for ([:admin,@product]), :html => { :multipart => true, :class => 'form-horizontal'} do |f| %>
  <%= f.input :product %>
  <%= f.input :description, :input_html => { :class => 'product_description' } %>
  <%= f.input :cost_price %>
  <%= f.input :price %>
  <%= f.fields_for :images do |img|  %>
  	<% if img.object.new_record? %>
  	  <%= render 'image_form', :f => img %>
  	<% end %>
  <%end%>
  <div class='control-group'>
    <div class='controls'>
      <%= link_to_add_images 'Add More Images', f, :images %>
    </div>
  </div>
  <div class='control-group'>
    <div class='controls'>
      <% @product.images.each do |img| %>
        <% if img.persisted? %>
          <div class='product_image'  id="<%= img.id %>">
            <%= link_to (image_tag('delete.png')),admin_image_path(img), method: :delete, :data => { :confirm => 'Delete this image ?' }, :class=> 'pull-right'%>
            <%= image_tag(img.image.url(:thumb), :class => 'img-polaroid') %>
          </div>
        <% end %>
      <% end %> 
    </div>
  </div>
  <%= f.association :brand, :label_method => :brand, :as => :radio_buttons %>
  <%= f.association :categories, :label_method => :category, :as => :check_boxes %>

  <% unless @product.product_details.empty? %>
    <table class='table table-striped'>
      <tr>
        <td class = 'dropdown'>
          <%= link_to 'Attributes', '#', :class => 'dropdown-toggle', :role => 'button', 'data-toggle' => 'dropdown', :id => 'attribute' %><b class='caret'></b>
          <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="attribute">
            <% ProductAttribute.all.each do |pa| %>
              <li >
                <%= link_to pa.product_attributes, admin_product_detail_path({:product_detail => { :product_id => @product.id, :product_attribute_id => pa.id }}), method: :post %></li>
            <% end %>
          </ul>            
        </td>
        <td><b>Details</b></td>
        <td class= 'shift_right'><b>Action</b></td>
      </tr>
      <% @product.product_details.each do |pro_detail| %>
      <tr>
        <td><%= pro_detail.product_attribute.product_attributes %></td>
        <td id="<%= pro_detail.id %>"><div><%= pro_detail.details %></div></td>
        <td class ='shift_right'>
          <%= link_to 'edit', edit_admin_product_detail_path(pro_detail), :remote => true, :class => 'edit_attribute btn btn-mini' %>
          <%= link_to 'delete', admin_product_detail_path(pro_detail), method: :delete, :data => { :confirm => 'Delete attribute ?'}, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <% end %>
    </table>
  <%end%>

  <div class='add_attributes'>
    <%= link_to 'Create new Attribute', new_admin_product_attribute_path(:product_id => @product.id), :remote => true, :class => 'btn btn-primary' %>
  </div><br/>
  
  <%= f.submit :class => "btn btn-success"%>
  <%= link_to 'back', request.referrer, :class => 'btn btn-inverse'  %>
<% end %> 

