<div>
  <h4><%= @cat.category.capitalize %></h4>
  <% pro = @cat.products %>
  <% unless pro.nil? %>
    <% pro.each do |p|  %>
      <div class = 'product_div'>
        <%= link_to image_tag(p.images.first.image.url(:thumb)), product_path(p) %><br/>
        <%= p.product %><br/>
        Brand : <%= p.brand.brand %><br/>
        Price : <%= p.price %>
      </div>
    <% end %>
  <% end %>
</div>