<div class='top_row span12'>
  <div class='image_display span4'>
    <div >
      <%= image_tag(@product.images.first.image.url(:thumb), :class => 'thumb_image') if @product.images.any?  %><br/>
    </div>
    <div class='small_image_strip'>
      <span id='left' class='image_show'>&laquo;</span>
      <div class='small_images'>
        <% @product.images.each do |img| %>
          <%= image_tag(img.image.url(:tiny), :class => 'small_image')  %>
        <% end %>
      </div>
      <span id='right' class='image_show'>&raquo;</span>
    </div>
  </div>
  <div class=' product_info span7'>
    <h3><%= @product.product %></h3>
    <div> Brand: <%= @product.brand.brand %> </div>
    <div>  
      <div class='span4 colour_div '>
        <h4>Colour</h4>
        <% color = @varients.to_a.uniq{ |ele| ele[:colour_id] }%>
        <div id='colours_for_varients'>
          <%= render 'varients/colours_for_varients', :colour => color %>
        </div>
        <div class=' input_form color_form'>
          <%= form_tag sizes_for_colour_varients_path, :remote => true do %>
            <fieldset>
              <%= hidden_field_tag 'colour[product_id]', @product.id %>
              <%= hidden_field_tag 'colour[colour]' %><br/>
              <%= submit_tag "Submit", :class => "btn btn-primary all_sizes_for_colour "%>
            </fieldset>
          <% end %>
        </div>
      </div>
      <div class='span4 size_div'>
        <h4>Size</h4>
        <% size = @varients.to_a.uniq { |ele| ele[:size_id] } %>
        <div id='sizes_for_varients'>
          <%= render 'varients/sizes_for_varients', :size => size %>
        </div>
        <div class=' input_form size_form'>
          <%= form_tag colours_for_size_varients_path, :remote => true do %>
            <fieldset>
              <%= hidden_field_tag 'size[product_id]', @product.id %>
              <%= hidden_field_tag 'size[size]' %><br/>
              <%= submit_tag "Submit", :class => "btn btn-primary all_colours_for_size "%>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>  
      <br/>
    <% if available?(@product) %>
      <div class = 'varients'>
        <% @varients.each do |varient| %>
          <% if varient.available > 0  %>
            <div class='select_varient' id='<%= varient.id %> <%= varient.price %>' >
              <%= "Colour:"+varient.colour.colour if varient.colour %> <%= 'Size:'+varient.size.size if varient.size %>
            </div>
          <% end %>              
        <% end %>
      </div>
      <div class  = "text-error" >      
        <h4><span>Price:</span>
        <% @varients.each do |varient|  %>
          <div id = '<%= varient.id %>' class='price_label'>
            <strike><%= varient.mrp if varient.mrp%></strike> <%= varient.price %>
          </div>
        <% end %></h4>
        <div class='add_to_cart_div'>
          <% if @varients.any?  %>
            <%= form_tag add_line_item_orders_path do %>
              <fieldset>
                <%= hidden_field_tag :id, params[:id], :value => '1' %>
                <%= hidden_field_tag :price, params[:price], :value => '22' %>
                <%= hidden_field_tag :product, params[:product], :value => @product.product %>
                <%= submit_tag "Grab in Trolley", :class => "btn btn-primary add_to_cart"%>
              </fieldset>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <% varient = @product.varients.first  %>
      <h4 class='muted'>Price: <strike><%= varient.mrp if varient.mrp%></strike> <%= varient.price %> </h4>
      <h4 class = 'text-error'>OUT OF STOCK</h4>    
    <% end %>
  </div>
</div>
<div class='other_product_details'>
  <div class='description'>
    <div><h4>About <%= @product.product %>:</h4></div>
    <div class = 'product_description'><%= sanitize @product.description %></div>
  </div>
  <% unless @product.product_details.empty? %> 
    <div>
      <table class='table product_description_table'>
        <tr>
          <th>Description</th>
          <th></th>
        </tr>
        <% @product.product_details.each do |pro_detail| %>
        <tr>
          <td class = 'attribute_name'><%= pro_detail.product_attribute.product_attributes %></td>
          <td><%= pro_detail.details %></td>
        </tr>
        <% end %>
      </table>
    </div>  
  <% end %>

  <div class = 'span12 rate_and_comment'>
    <div class = 'span6 review'>
      <%= link_to 'Review','', :class => 'btn btn-success write_review', 'data-valid' => user_signed_in? %><br/>
      
      <div class='input_form'>
        <%= form_tag reviews_path, :remote => true do %>
          <fieldset>
            <%= hidden_field_tag 'review[product_id]', @product.id %>
            <%= text_area_tag 'review[review]' %><br/>
            <%= submit_tag "Save", :class => "btn btn-primary add_review_or_rating"%>
            <span class = "btn btn-inverse cancel_review_or_rating">Cancel</span>
          </fieldset>
        <% end %>
      </div>
    </div>
    <div class = 'span5 rate'>
      <h4 class='text-warning'>Used <%= @product.product%> ? Rate it !</h4>
      <div id='rating_box'>
          <div class='rating_image' id='1' data-valid = '<%= user_signed_in? %>'> </div>
          <div class='rating_image' id='2' data-valid = '<%= user_signed_in? %>'> </div>
          <div class='rating_image' id='3' data-valid = '<%= user_signed_in? %>'> </div>
          <div class='rating_image' id='4' data-valid = '<%= user_signed_in? %>'> </div>
          <div class='rating_image' id='5' data-valid = '<%= user_signed_in? %>'> </div>
        </div>
      <div class='input_form'>        
        <%= form_tag ratings_path, :remote => true do %>
          <fieldset>
            <%= hidden_field_tag 'rating[product_id]', @product.id %>
            <%= hidden_field_tag 'rating[rating]' %>
            <%= submit_tag "Save", :class => "btn btn-primary hidden add_review_or_rating", :id=> 'submit_rating'%>
          </fieldset>
        <% end %>
      </div>
      <%= spinner_tag('rating_spinner') %>
      <div id='ratings'>
        <%= render 'ratings/ratings', :product => @product %>
      </div>
    </div>
  </div>
  
  <div id = 'reviews'>  
    <%= render 'reviews/reviews', :product => @product %>
  </div>    
</div>