<div>
  <%= image_tag(@product.images.first.image.url(:thumb), :class => 'thumb_image') if @product.images.any?  %><br/>
 </div>
  <dl class = "dl-horizontal" >      
    <dd>
      <% @product.images.each do |img| %>
        <%= image_tag(img.image.url(:small), :class => 'small_image') %>
      <% end %>
    </dd>
  </dl>
  <%  if @product.available < 1  %>
    <p class = 'text-error'>OUT OF STOCK</p>
  <% end %>
  <dl class  = "dl-horizontal" >      
    <dt>Product Name:</dt>
    <dd><%= @product.product %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Brand name:</dt>
    <dd><%= @product.brand.brand %></dd>
  </dl>
  <dl class = "dl-horizontal">
    <dd>  
      <div class = 'varients'>
        <% @product.varients.each do |varient| %>
          <div class='select_varient'>
            <%= varient.colour.colour %>, <%= varient.size.size %>
          </div>
        <% end %>
        <br/><br/>
        <div class ='Size'>
          <ul>
            Sizes:
            <% @varient['size'].each do |size_var| %>              
              <li><%= link_to size_var, product_path(@product, :varient => { :size => size_var }) %></li>
            <% end %>
          </ul>
        </div>
        <div class = 'colour'>
          <ul>Colour:
          <% @varient['colour'].each do |colour_var| %>
            <li><%= link_to colour_var, product_path(@product, :varient => { :colour => colour_var }) %></li>
          <% end %>
        </div>
      </div>
    </dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Price:</dt>
    <dd><strike><%= @product.mrp if @product.mrp %></strike> <%= @product.price %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Rating:</dt>
    <dd>
      <%= total_rating(@product)%> (rated by <%= @product.ratings.count %>)<br/> 
      <% user_rating = (current_user.ratings & @product.ratings).first if logged_in? %>
      <% if user_rating %>
        <p> Your rated this product <%= user_rating.rating %></p>
      <% end %>
    </dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Description:</dt>
    <dd><div class = 'product_description'><%= sanitize @product.description %></div></dd>
  </dl>
  <dl class = 'dl-horizontal'>
    <dd>
      <div class = 'rate' >
        <%= link_to 'Rate this product', new_rating_path(:product_id => @product.id) ,:remote => true, :class => 'btn btn-warning' %>
      </div><br/>
      <div class = 'comment'>
        <%= link_to 'Comment', new_comment_path(:product_id => @product.id) , :remote => :true, :class => 'btn btn-success' %><br/><br/>
      </div>
      <div><%= button_to 'grab in trolley',orders_path(:id => @product.id, :price => @product.price), :class => "btn btn-primary" if @product.available > 0%></div>
    </dd>
  </dl>
  <% unless @product.product_details.empty? %>
    <dl class  = "dl-horizontal" >      
      <dd>
        <table class='table table-striped'>
          <tr>
            <td><b>Description</b></td>
            <td></td>
          </tr>
          <% @product.product_details.each do |pro_detail| %>
          <tr>
            <td class = 'attribute_name'><%= pro_detail.product_attribute.product_attributes %></td>
            <td><%= pro_detail.details %></td>
          </tr>
          <% end %>
        </table>
      </dd>
    </dl>
  <% end %>
  <% unless @product.comments.empty? %>
    <dl class = 'dl-horizontal'>
      <dd>  
        <div><h4>Comments:</h4></div>
        <% @product.comments.each do |comment| %>
          <div class = 'comment_box'>
            <div class = 'comment_user'><b><%= comment.user.username %></b><br/>On <%= comment.updated_at.to_date %></div>
            <div class = 'comment_text'>
              <% if current_user && (current_user.id == comment.user_id || current_user.admin) %>
                <%= link_to (image_tag('delete.png')), comment_path(comment), :method => :delete, :data => { :confirm => 'Delete this comment ?' }, :class=> 'comment_delete' %>
              <% end %>
              <%= comment.comment %>
            </div>
          </div>
        <% end %>
      </dd>    
    </dl>
  <% end %>
</div>