<div class='top_row span11'>
  <div class='span7'>
    <div>
      <%= image_tag(@product.images.first.image.url(:thumb), :class => 'thumb_image') if @product.images.any?  %><br/>
    </div>
    <div>
      <% unless @product.available? %>
        <p class = 'text-error'>OUT OF STOCK</p>
      <% end %>
      <span id='left' class='image_show'>&laquo;</span>
      <div class='thumb_image_strip'>
        <% @product.images.each do |img| %>
          <%= image_tag(img.image.url(:small), :class => 'small_image')  %>
        <% end %>
      </div>
      <span id='right' class='image_show'>&raquo;</span>
    </div>
  </div>
  <div class='span4'>
    <h3><%= @product.product %></h3>
    <div> Brand: <%= @product.brand.brand %> </div>
    <div> 
      Rating: <%= @product.total_rating %> (rated by <%= @product.ratings.count %>) <br/>
      <% user_rating = (current_user.ratings & @product.ratings).first if user_signed_in? %>
      <% if user_rating %>
        <p> Your rated this product <%= user_rating.rating %></p>
      <% end %>
    </div>
    <div class = 'varients'>
      <% @varients.each do |varient| %>
        <% if varient.available > 0  %>
          <div class='select_varient' id='<%= varient.id %> <%= varient.price %>' >
            <%= "Colour:"+varient.colour.colour if varient.colour %> <%= 'Size:'+varient.size.size if varient.size %>
          </div>            
        <% end %>
      <% end %>
      <br/><br/>
    </div>
    <div class  = "text-error" >      
      Price:
      <% @varients.each do |varient|  %>
        <div id = '<%= varient.id %>' class='price_label'>
          <strike><h4><%= varient.mrp if varient.mrp %></strike><%= varient.price %></h4>
        </div>
      <% end %>
      <div class='add_to_cart_div'>
        <% if @varients.any?  %>
          <%= spinner_tag %>
          <%= form_tag add_line_item_orders_path do %>
            <fieldset>
              <%= hidden_field_tag :id, params[:id], :value => '1' %>
              <%= hidden_field_tag :price, params[:price], :value => '22' %>
              <%= hidden_field_tag :product, params[:product], :value => @product.product %>
              <%= submit_tag "Grab in Trolley", :class => "btn btn-primary add_to_cart"%>
            </fieldset>
          <% end %>
        <% end %>
      </div>
    </div>  
  </div>
</div>
<div class='other_product_details'>
  <div class = 'rate_and_comment'>
    <div class = 'rate' >
      <%= link_to 'Rate this product', new_rating_path(:product_id => @product.id) ,:remote => true, :class => 'btn btn-warning' %>
    </div>
    <div class = 'review'>
      <%= link_to 'Review', new_review_path(:product_id => @product.id) , :remote => :true, :class => 'btn btn-success' %>
    </div>
  </div>
  <dl class  = "dl-horizontal" >      
    <dt>Description:</dt>
    <dd><div class = 'product_description'><%= sanitize @product.description %></div></dd>
  </dl>

  <% unless @product.product_details.empty? %>
    <dl class  = "dl-horizontal" >      
      <dd>
        <table class='table table-striped'>
          <tr>
            <td><b>Description</b></td>
            <td></td>
          </tr>
          <% @product.product_details.each do |pro_detail| %>
          <tr>
            <td class = 'attribute_name'><%= pro_detail.product_attribute.product_attributes %></td>
            <td><%= pro_detail.details %></td>
          </tr>
          <% end %>
        </table>
      </dd>
    </dl>
  <% end %>
  <% unless @product.reviews.empty? %>
    <dl class = 'dl-horizontal'>
      <dd>  
        <div><h4>Reviews:</h4></div>
        <% @product.reviews.each do |review| %>
          <div class = 'review_box'>
            <div class = 'review_user'><b><%= review.user.username %></b><br/>On <%= review.updated_at.to_date %></div>
            <div class = 'review_text'>
              <%= link_to (image_tag('delete.png')), review_path(review), :method => :delete, :data => { :confirm => 'Delete this review ?' }, :class=> 'review_delete' if user_authorized_to_delete?(review) %>
              <%= review.review %>
            </div>
          </div>
        <% end %>
      </dd>    
    </dl>
  <% end %>
</div>