<div>
  <dl class = "dl-horizontal" >      
    <dd>
      <% @product.images.each do |img| %>
        <%= image_tag(img.image.url(:thumb)) %>
      <% end %>
    </dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Product Name:</dt>
    <dd><%= @product.product %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Brand name:</dt>
    <dd><%= @product.brand.brand %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Price:</dt>
    <dd><strike><%= @product.cost_price if @product.cost_price %></strike> <%= @product.price %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Product type:</dt>
    <dd><%= @product.product_type %></dd>
  </dl>
  <dl class = 'dl-horizontal'>
    <dd>
      <%= link_to 'Rate this product', '' , :class => 'btn btn-warning' %>
      <%= link_to 'Comment', '', :class => 'btn btn-success' %>
    </dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dd>
      <table class='table table-striped'>
        <tr>
          <td><b>Description</b></td>
          <td></td>
        </tr>
        <% @product.product_details.each do |pro_detail| %>
        <tr>
          <td><%= pro_detail.product_attribute.product_attributes %></td>
          <td><%= pro_detail.details %></td>
        </tr>
        <% end %>
      </table>
    </dd>
  </dl>
  <%= button_to 'grab in trolley',orders_path(:id => @product.id, :price => @product.price), :class => "btn btn-primary" %>
</div>